<div class="container-xl">
 <app-serveurs></app-serveurs>

<!-- <button routerLink="/historique" target="_blank">Aller à la nouvelle page</button> -->
<!-- <a routerLink="/historique" >Ouvrir dans une nouvelle page</a> -->

 <div class="container">
  <router-outlet></router-outlet>
  </div>
</div>
<a routerLink="/historique">
  <button>Aller vers la nouvelle page</button>
</a>


<!-- <button >Reserver </button><p></p>
<button >Déliberer</button>
<p></p>
<button >Reserver par tache </button> -->
